        var data = {
            news: {
                title: 'News and inspiration',
                links: {
                    'Resources': 'news-resources.html',
                    'Books': '#',
                    'Lessons': '#'
                }
            },
            markup: {
                links: {
                    'CSS': 'markup-css.html',
                    'Decoration': 'markup-decoration.html',
                    'Methodologies': 'markup-methodologies.html',
                    'HTML-Preprocessors': 'markup-html-preprocessors.html',
                    'CSS-Preprocessors': 'markup-css-preprocessors.html',
                    'Adaptive graphic': 'markup-adaptive-graphic.html',
                    'Useful': 'markup-useful.html',
                    'Razor': 'markup-razor.html'
                }
            },
            js: {
                title: 'JavaScript',
                links: {
                    'Useful': '#',
                    'Basics': '#',
                    'E6 / ES2015': '#',
                    'Projects': '#',
                    'Code checks': '#',
                    'Plugins': '#'
                }
            },
            jquery: {
                title: 'jQuery',
                links: {
                    'Basics': '#'
                }
            },
            ts: {
                title: 'TypeScript',
                links: {
                    'Basics': '#'
                }
            },
            nodejs: {
                title: 'NodeJS',
                links: {
                    'Basics': '#'
                }
            },
            cSharp: {
                title: 'C#',
                links: {
                    'Basics': '#'
                }
            },
            mvc: {
                title: 'MVC',
                links: {
                    'Basics': 'mvc-basics.html'
                }
            },
            workflow: {
                title: 'Workflow',
                links: {
                    'Git': '#',
                    'Internet': 'workflow-internet.html',
                    'Browsers': 'workflow-browsers.html',
                    'IDEs': 'workflow-ides.html',
                    'Messengers': '#',
                    'Sandboxes': '#',
                    'Services': '#'
                }
            },
            graphics: {
                title: 'Graphics',
                links: {
                    'Soft': '#',
                    'Templates': '#',
                    'Images': '#',
                    'SVG': '#',
                    'Color': '#',
                    'Fonts': '#'
                }
            }
        };
