        var data = {
            js: {
                title: 'JavaScript',
                links: {
                    'Useful': '#',
                    'Basics': '#',
                    'E6 / ES2015': '#',
                    'Projects': '#',
                    'Code checks': '#',
                    'Plugins': '#'
                }
            },
            jquery: {
                title: 'jQuery',
                links: {
                    'Basics': '#'
                }
            },
            ts: {
                title: 'TypeScript',
                links: {
                    'Basics': '#'
                }
            },
            nodejs: {
                title: 'NodeJS',
                links: {
                    'Basics': '#'
                }
            },
            cSharp: {
                title: 'C#',
                links: {
                    'Basics': '#'
                }
            },
            mvc: {
                title: 'MVC',
                links: {
                    'Basics': 'mvc-basics.html'
                }
            },
            workflow: {
                title: 'Workflow',
                links: {
                    'Git': '#',
                    'Internet': 'workflow-internet.html',
                    'Browsers': 'workflow-browsers.html',
                    'IDEs': 'workflow-ides.html',
                    'Messengers': '#',
                    'Sandboxes': '#',
                    'Services': '#'
                }
            },
            graphics: {
                title: 'Graphics',
                links: {
                    'Soft': '#',
                    'Templates': '#',
                    'Images': '#',
                    'SVG': '#',
                    'Color': '#',
                    'Fonts': '#'
                }
            }
        };
