p 'Не забываем про схлопывание и выпадание из родителей вертикальных margin'
p 'Не забываем про частичное выпадание из потока флоатов (родитель схлопывается)'
p 'Задавать фиксированную ширину флоатам, иначе при переполнении контентом толкают друг друга на другую строку'