p # MVC - Model View Controller
p ## Controller
p ### Общая информация
p - Связывание компонентов
p - Определяет поведение системы
p - Изменяет состояние модели на основании действий пользователя

p ### Разница
p - MVC - навигация
p - API - взаимодействие запрос-ответ

p ## Model
p - Хранение состояния и реализаци логики, его изменяющей
p - Инкапсулирует (скрывает) состояние системы
p - Реализует функциональность системы

p ## View
p - Обновление изображения при изменении состояния модели