extends ../layout/_layout
block title
    - var pageTitle = 'Workflow';
    - var subTitle = 'Internet';
    -
        var data = {
            'Hosting': 'hosting',
            'Web-stack': 'stack',
            'Htaccess': 'htaccess',
            'Robots': 'robots'
        };
block content
    section.content
        h3.content__title(id=data['Hosting']) Hosting
        h4.content__sub-title Виртуальные хостинги
        h5.content__block-title Виртуальный хостинг (Shared)
        ul
            li "Полочка в библиотеке", обслуживается хостером
            li При незначительных нагрузках все нормально, при значительных - могут отключить (если привысили средний лимит нагрузки)
            li Самые дешевые среди прочих
            li При незначительной нагрузке соседями, по можности может превосходить даже вирт выделенный сервер
            li Имеет стандартный набор служб и настроек (apache, mysql, php)
            li Влияние нагрузки, вызванной сайтами соседей
        h5.content__block-title Виртуальный выделенный сервер (VPS/VDS)
        ul
            li "Шкаф в библиотеке", обслуживается самостоятельно
            li Гарантированная часть ресурсов сервера
            li Есть возможность устанавливать ПО
            li Невысокая мощность из-за ограничения выделяемых ресурсов
            li Дороже виртуального хостинга (иногда значительно)
        h4.content__sub-title Передача файлов на хостинг
        ul
            li Через ЛК на хостинге
            li FTP/sFTP (sFTP работает поверх SSH, доступ по ключу) по умолчанию 21 порт
            li FTPS != sFTP - отдельная реализация FTP с попыткой его защитить, мало используется
            li SSH (позволяет не только передать файлы, но и управлять серверами)
        h4.content__sub-title FTP-клиенты
        ul
            li FileZilla
            li WinSCP
            li Также можно через среду разработки
        h4.content__sub-title Программы для доступа к удаленному серверу
        ul
            li Remote Desktop Manager - платформа для централизации удаленных соединений, паролей и т.д., имеет смысл использовать, когда приходится работать с большим количеством серверов
        h4.content__sub-title Домен
        ul
            li Домен привязывается к хостингу
            li Домен и хостинг не обязательно покупать у одной компании
            li Регистратор - компания, которая регистрирует домен
            li Хостер - компания, которая предоставляет услуги по размещению сайта
            li Если регистратор и хостер разные, то на стороне регистратора необходимо прописать ns сервера хостера и подождать перезагрузки DNS
    section.content
        h3.content__title(id=data['Web-stack']) Web-stack
        ul
            li LAMP - Linux, Apache, MySQL, PHP
            li WAMP - Windows, Apache, MySQL, PHP
            li MAMP - MacOS, Apache, MySQL, PHP
            li WISA - Windows, IIS, MS SQL, .NET
            li MARS - MySQL, Apache, Ruby, Solaris
    section.content
        h3.content__title(id=data['Htaccess']) Htaccess
        h4.content__sub-title File .htaccess
        ul
            li работает с веб-сервером Apache, может не работать с nginx
            li файл, который дает возможность конфигурировать работу сервера в отдельных директориях
            li устанавливать права доступа к файлам в директории
            li менять названия индексных файлов
            li самостоятельно обрабатывать ошибки Apache, перенаправляя посетителей на специальные страницы ошибок
    section.content
        h3.content__title(id=data['Robots']) Robots
        h4.content__sub-title File robots.txt
        ul
            li не является обязательным
            li используется только роботами
            li находится в корневой директории сайта
            li записываются инструкции для поисковых роботов
            li запрещать к индексации некоторые разделы или страницы сайта
            li указывать на правильное зеркалирование домена
            li рекомендовать поисковому роботу соблюдать определенный интервал между скачиванием документов с сервера
            li роботы могут этот файл игнорировать
            li можно посмотреть на любом сайте (address.ru/robots.txt)
