doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        block title
            title Web Tips #{pageTitle}
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;subset=cyrillic')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic')
        link(rel='stylesheet' href='content/styles/style.min.css')
    body
        .wrapper
            aside.sidebar
                h1.page-title #{pageTitle}
                nav.menu
                    block sidebarMenu
                    a.link.link--light.link--to-index(href='index.html') To index
            main.main
                block content
            footer.footer